name: SonarCloud project analysis

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:
    schedule:
        - cron: "1 1 2 * *"

permissions:
    pull-requests: read # allows SonarCloud to decorate PRs with analysis results

jobs:
    generate_coverage_with_sonarcloud:
        name: "Analyse with SonarCloud"
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Analyze project with SonarCloud
              # You can pin the exact commit or the version.
              # uses: SonarSource/sonarcloud-github-action@de2e56b42aa84d0b1c5b622644ac17e505c9a049
              uses: SonarSource/sonarqube-scan-action@v7.0.0
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                  # Additional arguments for the sonarcloud scanner
                  args: -Dsonar.tests=.
                      -Dsonar.projectBaseDir=.
                      -Dsonar.sources=src
                      -Dsonar.projectKey=jimmystewpot_lua-blaze-jsonschema
                      -Dsonar.organization=jimmystewpot
                      -Dsonar.scm.disabled
                      -Dsonar.sourceEncoding=UTF-8
                      -Dsonar.verbose=true
